################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/node_modules
/.vs/store-appV2-BACKEND/FileContentIndex
/store-appV2-BACKEND/.vs
